<!DOCTYPE html>
html(lang="ja")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title myAdmin for デジタル版 白鳥寮献立表
    //- script(src="//code.getmdl.io/1.3.0/material.min.js")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="../assets/main.css")
body.mdl-base

    navbar

    main.container
        router

    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="../assets/private.js")