<!DOCTYPE html>
html(lang="ja")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title デジタル版 白鳥寮献立表
    link(rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet" href="./assets/public.css")
body

    .container
        router

        navbar

    script(src="./assets/public.js")