html, body, div, p, ul, ol, li,
h1, h2, h3, h4, h5, h6,
dl, dt, dd,
form, button, input, textarea
	margin 0
	padding 0

body
	padding-top 50px
	font-family 'Meiryo UI'

button, input, textarea
	// background none
	// border none
	// outline none

ul, ol
	list-style-type none

h1, h2, h3, h4, h5, h6
	font-weight normal
	font-size 1em