@import "public/_reset"
@import "public/_ad"

$base = #212f50
$font = #d3e7ec
// .night-mode
//     .navbar
//         .navbar-nav
//             background $base
//             .nav-item
//                 .nav-anchor
//                     color $font
//         .nav-large
//             background $base
//             .nav-large-wrapper
//                 border-color $font
//                 color $font
//         .nav-more
//             .nav-anchor
//                 color $fonr