html, body, div, p, ul, ol, li,
h1, h2, h3, h4, h5, h6,
dl, dt, dd,
form, button, input, textarea
	margin 0
	padding 0

html, body
	width 100%
	min-height 100%

body
	padding-bottom 115px
	background linear-gradient(to bottom, #fff7da 0%, #a4c3d3 70%)
	font-family Verdana, Roboto, "Droid Sans", "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;

button, input, textarea, select
	background none
	border none
	outline none

ul, ol
	list-style-type none

h1, h2, h3, h4, h5, h6
	font-weight normal
	font-size 1em